.main-news {
    width: 70vw;
    height: 50vh;
    margin: 10% auto;
}

.head-text {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2%;
}

.content-news {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-news {
    flex: 1;
}

.image-news img {
    width: 80%;
}

.text-news {
    flex: 1;
    color: #000;
    height: 100%;
}

.header-news {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-news {
    font-size: 1.5rem;
    font-weight: 500;
}

.view {
    margin-right: 5%;
}

.view .fa-long-arrow-alt-right {
    font-size: 20px;
    padding-left: 5px;
}

.desc-news {
    font-size: 20px;
    margin: 5% 0 5% 0;
}

.timestamps {
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .main-news {
        display: none;
    }
}